# API Configuration
VITE_API_URL=https://xw9zhawaqf.execute-api.us-east-1.amazonaws.com
VITE_LOGO_URL=https://etalbackendbusketfileuploads.s3.amazonaws.com/uploads/Log.png

# For production, set to your API Gateway URL and S3 logo URL
# VITE_API_URL=https://xw9zhawaqf.execute-api.us-east-1.amazonaws.com
# VITE_LOGO_URL=https://etalbackendbusketfileuploads.s3.amazonaws.com/uploads/Log.png